.most-viewed{
    border: 1.5px solid #00FFFF !important;
}

.most-viewed-header{
    background: #000000c9 !important;
}

.most-viewed-body{
    background: #00000086 !important;
}

.most-viewed-header h3{
    color: #00FFFF;
    font-size: 1.8rem;
}

.most-viewed-card{
    background: rgb(0, 0, 0) !important

}

.most-viewed-card:hover{
    cursor: pointer;
}

.most-viewed-card:hover img {
    filter: opacity(0.2);
}

.most-viewed-img{
    filter: opacity(0.5);
    transition: all 0.3s;
}

.most-viewed-title{
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    text-decoration: none !important;
}

.most-viewed-title:hover{
    transition: 0.5s;
    color: #26cce2;
}