.article-body{
    width: 70%;
    color: rgb(241, 241, 241);
    margin-left: 3.5%;
}

.article-body .atc-content{
font-size: 22px;
text-align: left;
}

.article-body .atc-content img{
    max-width: 100%;
}

.article-body .sub-title h3{
    font-size: 27px;
}