.News{
    background: rgb(31, 32, 32);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.hader{
    margin-bottom: 10px;
}

.News .body-back{
 position: relative;
 left: 50%;
 transform: translateX(-50%);
}