.comments-back{
    width: 70%;
    margin: 0 0 -50px 3.5%;
    background: rgb(231, 231, 231);
}

.coments-counter{
font-size: 19px;
font-weight: bold;
padding: 6px 0;
color: white;
background: linear-gradient(to bottom, rgba(1, 209, 216, 0.87), #038686a9 );
}

.comments{
    width: 85%;
    margin: auto;
    padding-bottom: 5px;
}

.connect{
    list-style-position: inside;
    color: green;
}

.disconnect{
    list-style-position: inside;
    color: red;
}

.connect li, .disconnect li{
    transform: scale(2);
    position: absolute;
    top: -2px;
    left: -5px;
}

.comment-text{
    padding: 25px 30px;
    text-align: left;
}