.like-dislike{
    margin-left: 35px;
    text-align: left;
    font-size: 1.8rem;
}

.fa-thumbs-up{
cursor: pointer;
color: #19c4e2;
}

.fa-thumbs-up:hover{
    transform: scale(1.2);
    color: #02d8fd;
}

.fa-thumbs-down{
    cursor: pointer;
    color: rgb(212, 22, 22);
}

.fa-thumbs-down:hover{
    transform: scale(1.2);
    color: rgb(255, 0, 0);
}

.like-dislike span{
    margin: 0 5px;
}