.comment-profile-back{
    position: relative;
    height: 60px;

    background: #404040;
    overflow: hidden;
    border: 2px solid grey;
    border-top-left-radius: 30px;
    }

.comment-user-pic{
    float: left;;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border-bottom-left-radius: 0;
}

.comment-username{
    height: 60px;
    display: flex;
    align-items: center;
    margin-left: 70px;

    font-size: 1.3rem;
}

.date-and-menu{
    position: relative;
    float: right !important;
    bottom: 60px;
    height: 60px;
    display: flex;
    align-items: center;


    margin-right: 20px;
    font-size: 1.1rem;
}


.date-and-menu .comment-menu{
    transition: all 0.5s;

    color: rgb(0, 141, 177);
    margin-bottom: 60px;
}
.date-and-menu .row{
    height: 60px;
    margin: 0;
}

.date-and-menu .menu-row{
    padding-top: 5px;
    display: flex;
    flex-direction: column;
}

.date-and-menu .date-row{
    float: right;
    width: fit-content;
}

.date-and-menu .comment-date{
    color: white;
    display: flex;
    align-items: center;
}

.date-and-menu .comment-menu .report , .date-and-menu .comment-menu .view-profile{
    cursor: pointer;
}

.date-and-menu .comment-menu .report:hover, .date-and-menu .comment-menu .view-profile:hover{
    text-decoration: underline;
}

.date-and-menu .comment-menu-btn{
    margin-left: 5px;
    height: 30px;
    cursor: pointer;
}

.date-and-menu .comment-menu-btn:hover{
    transform: scale(1.2);
}