.cover{
    background: black !important;
    margin-bottom: 10px;
}

.atc-img{
    filter: opacity(0.6);
}

.atc-title{
    font-weight: 700;
    font-size: 3rem;
    text-shadow: rgb(20, 20, 20) 5px 4px 2px;
    color: rgb(243, 243, 243);
}