@import "./comment-user";

.comments-back{
    width: 70%;
    margin: 0 0 10px 3%;
    background: #1b1b1bb6;
    border-radius: 20px;
    overflow: hidden;

    & .coments-counter{
        font-size: $medium-2;
        font-weight: bold;
        padding: 6px 0;
        text-align: center;
        color: $light-blue-2;
        background: #000000de;
    }

    & .comments{
        width: 85%;
        margin: auto;
        padding-bottom: 5px;
        color: rgb(255, 255, 255);

        & .comment-text{
            font-size: $medium-1;
        }
    }
}

.comments {
    & .make-comment{
        background: #2b2b2b;
        border-top-left-radius: 30px !important;
        border: 2px solid rgb(82, 82, 82);

        & .make-comment-user{
            height: 60px;
            width: 60px;
            border-radius: 50%;
            border-bottom-left-radius: 0;
        }

        & textarea, & textarea:focus, & textarea:hover, & textarea:active{
            min-height: 60px;
            resize: none;

            overflow: hidden;
            background:#2b2b2b;
            border: 0;
            color: rgb(255, 255, 255);
            font-size: $medium-1;
        }

        & textarea::placeholder{
            color: rgb(187, 187, 187);
        }
    }

    & .make-comment-button{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        & button{
            font-size: $small-1;
            margin-bottom: 15px;
        }
    }
}

.like-dislike{
    margin-left: 2.62rem;
    font-size: $medium-3;

    & .fa-thumbs-up{
        cursor: pointer;
        color: #19c4e2;

        &:hover{
            transform: scale(1.2);
            color: #02d8fd;
        }
    }

    & .fa-thumbs-down{
        cursor: pointer;
        color: rgb(212, 22, 22);

        &:hover{
            transform: scale(1.2);
            color: rgb(255, 0, 0);
        }
    }

    & span{
        margin: 0 5px;
    }
}

@media only screen and (max-width: 1199px){
    .comments{
        width: 90% !important;
    }
}

@media only screen and (max-width:991px){
    .comments-back{
        width: calc(100% - 20px);
        margin: 0 0 10px 10px;
    }

    .comments {
        & .make-comment{
            & .make-comment-user{
                height: 55px;
                width: 55px;
            }

            & textarea{
                min-height: 55px;
            }
        }
        & .make-comment-button button{
            font-size: $small-2;
        }
    }
}

@media only screen and (max-width: 767px){
    .like-dislike{
        font-size: $big-1;
    }
}

@media only screen and (max-width: 575px){
    .comments-back{
        width: calc(100% - 10px);
        margin: 0 0 10px 5px;
    }

    .comments .make-comment{
        & .make-comment-user{
            height: 50px;
            width: 50px;
        }

        & textarea{
            min-height: 50px;
        }
    }
}

@media only screen and (max-width: 479px){
    .comments{
        width: 95% !important;
    }
}