.body-back{
    width: 79%;
    height: 350px;
    margin-bottom: 10px;

    background: #181717e8;
    display: flex;
    justify-content: center;
}

.body-back .body-container{
    width: 1025px;
}

.body-image{
    float: left;
    height: 350px;
    padding-right: 15px;
}

.body-image img{
    position: relative;
    top: 175px;
    transform: translateY(-50%);
    width: 300px;
}

.body-text{
 height: 350px;
 padding-top: 25px;
 text-align: left;
}


.body-text .title{
   text-decoration: none;
   font-size: 3.2rem;
   font-weight: bolder;
   color: white;
  
}

.body-text .title:hover{
    transition: 0.5s;
    color: #26cce2;
}

.body-text .text{
font-size: 1.6rem;
color: white;
}

.body-text .body-author, .body-text .body-date{
    position: relative;
    float: left;
    left: 15px;
    bottom: 25px;
    padding: 4px 10px 5px 8px;
    border-radius: 5px;

    background: rgb(161, 39, 39);
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
}

.body-text .body-date{
    margin-left: 5px;
    background: rgb(29, 129, 168);
}


.body-text .social .ig, .body-text .social .twitter{
float: right;
}

.body-text .social a img{
    height: 30px;
}