@import "components/colors";

@import "components/header";
@import "components/body-head", "components/search-bar";
@import "components/body";
@import "components/nav" ;
@import "components/footer";
@import "components/signup";
@import "components/profile";
@import "components/activity";
@import "components/create-article/create-article" , "components/article";
@import "components/comments/comments";
@import "components/most-viewed";
@import "components/loader";

html{
    font-size: 10pt;
    margin: 0;
  }

  body {
    margin:0;
    background: #252627;  /* fallback for old browsers */
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: $text-color;
  }

  textarea:hover,
  input:hover,
  textarea:active,
  input:active,
  textarea:focus,
  input:focus,
  button:focus,
  button:active,
  button:hover,
  label:focus,
  .btn:active,
  .btn.active
  {
      outline:0px !important;
      -webkit-appearance:none;
      box-shadow: none !important;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

.form-control:invalid + .invalid-feedback{
    font-size: 1.2rem !important;
}

.cropper{
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: 99999;
  & button{
    @extend .profile-btn-disabled;
      position: absolute;
      bottom: 40px;
      right: 60px;
      height: 35px;
      font-size: 1.4rem;

      &:active, &:focus{
        top: initial;
        bottom: 39px;
      }
  }
}

.reactEasyCrop_Image{
    max-width: 80vw !important;
    max-height: 80vh !important;
}