.follow-us p{
    margin-top: 10px;
    color: red;
    font-size: 3rem;
    font-weight: bold;
}

.follow-us hr{
    width: 70%;
    border-color: #26cce2;
}

.follow-us .social a img{
    padding-right: 5px;
}