.activity{
    width: 45%;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
    .activity-title{
        width: 100%;
        background: #323232;
        padding: 3px 0;
        text-align: center;
        font-size: 1.6rem;
        margin: 0;
    }

    .activity-card-1{
        background: #626262;
        padding: 15px 0;
        .date{
            display: inline-block;
            text-align: right;
            width: 100%;
            padding-right: 25px;
            font-size: 1.2rem;
            font-style: italic;
        }

        .activity-text{
            text-align: center;
            font-size: 1.5rem;
            margin: 0;
            color: #dfdfdf;

            & .text-truncate{
                max-width:  50% !important;
                font-weight: 700;
                display: inline-block;
                color: $text-color;

                &:hover{
                    color: $light-blue;
                }
            }
        }
    }

    .activity-card-2{
        @extend .activity-card-1;
        background: #4B4B4B;
    }
}