$border: 1px solid $white;

$tiny: 1.1rem;
$small: 1.4rem;
$default: 1.7rem;
$big: 2.2rem;
$huge: 2.5rem;
$author: 1.5rem;

.cover{
    background: rgb(0, 0, 0) !important;
    margin-bottom: 10px;
}

.atc-img{
    filter: opacity(0.6);
}

.atc-title{
    font-weight: 700;
    font-size: 3rem;
    text-shadow: rgb(20, 20, 20) 5px 4px 2px;
}

.article-body{
    max-width: 70% !important;
    margin: 10px 0 0 3%;
    padding: 0 10px;
    word-wrap: break-word;
}

.article-author{
    display: flex;
    & img{
        height: 32px;
        width: 32px;
        border-radius: 16px;
    }

    & span {
        font-size: $author;
        margin-left: 5px;
    }
}


.article-body .atc-content{
    font-size: 1.7rem;
    margin-top: 10px;

    & p {
        margin: 0;
    }

    & .text-tiny {
        font-size: $tiny;
    }

    & .text-small{
        font-size: $small;
    }

    & .text-big{
        font-size: $big;
    }

    & .text-huge {
        font-size: $huge;
    }

    & blockquote {
        padding-left: 20px !important;
        font-style: italic;
        border-left: solid rgb(206, 206, 206) 5px;
    }

    & hr{
        border: solid rgb(206, 206, 206) 2px;
    }

    & .table table{
        width: inherit ;
        height: inherit ;
        color: $white;
        border: $border;

        & td{
            border: $border;
        }

        & th{
            border: $border;
        }
        }

        & figure {
            margin: 25px auto;

            & figcaption {
                font-size: 1.4rem;
                word-wrap: break-word;
                padding: 4px 10px;
            }
    }

    & .image {
        max-width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    & img{
        max-width: 100%;
    }
}

.article-author-bottom{
    text-align: right;
    width: 100%;

    & p{
        color: $red;
        font-size: $author;
        display: inline-block;
    }

    & img{
        height: 30px;
        display: inline-block ;
        margin-left: 5px;
        margin-bottom: 7px
    }
}
