$border: 1px solid $white;

.cover{
    background: rgb(0, 0, 0) !important;
    margin-bottom: 10px;

    & .atc-img{
        filter: opacity(0.6);
    }

    & .atc-title{
        font-weight: 700;
        font-size: calc(2.4rem + 0.5vw);
        text-shadow: rgb(20, 20, 20) 5px 4px 2px;
    }
}

.article-body{
    max-width: 70%;
    margin: 10px 0 0 3%;
    padding: 0 10px;
    word-wrap: break-word;

    & .article-author{
        display: flex;
        & img{
            height: 32px;
            width: 32px;
            border-radius: 50%;
        }

        & span {
            font-size: $medium-1;
            margin-left: 5px;
        }
    }

    & .article-author-bottom{
        margin-top: 1rem !important;
        text-align: right;
        width: 100%;

        & p{
            color: $red;
            font-size: $medium-1;
            display: inline-block;
        }

        & img{
            height: 30px;
            display: inline-block ;
            margin-left: 5px;
            margin-bottom: 7px
        }
    }
}

.article-body .atc-content{
    font-size: $medium-2;
    margin-top: 10px;

    & p {
        margin: 0;
    }

    & .text-tiny {
        font-size: $small-1;
    }

    & .text-small{
        font-size: $small-3 + 0.1rem;
    }

    & .text-big{
        font-size: $big-2;
    }

    & .text-huge {
        font-size: $huge-1;
    }

    & blockquote {
        padding-left: 20px !important;
        font-style: italic;
        border-left: solid rgb(206, 206, 206) 5px;
    }

    & hr{
        border: solid rgb(206, 206, 206) 2px;
    }

    & .table table{
        width: inherit ;
        height: inherit ;
        color: $white;
        border: $border;

        & td{
            border: $border;
        }

        & th{
            border: $border;
        }
        }

        & figure {
            margin: 25px auto;

            & figcaption {
                font-size: $small-3 + 0.1rem;
                word-wrap: break-word;
                padding: 4px 10px;
            }
    }

    & .image {
        max-width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    & img{
        max-width: 100%;
    }
}

@media only screen and(max-width:1199px){
    .cover .atc-title{
        font-size: $huge-1;
    }

    .article-body{
        margin-left: 20px;
    }
}

@media only screen and (max-width: 991px){
    .cover .atc-title{
        font-size: $big-3;
    }

    .article-body{
        max-width: 100%;
        margin: 10px 20px 0 10px;

        & .article-author img{
            height: 30px;
            width: 30px;
        }

        & .article-author-bottom img{
            height: 28px;
        }
    }
}

@media only screen and (max-width: 767px){
    .cover {
        .atc-title-container{
            padding-top: 5px;
        }
        .atc-title{
            font-size: $big-2;
            line-height: 110%;
        }
    }

    .article-body {
        & .article-author img{
            height: 27px;
            width: 27px;
        }

        & .article-author-bottom img{
            height: 25px;
        }
    }
}

@media only screen and (max-width: 575px){
    .article-body {
        & .article-author img{
            height: 25px;
            width: 25px;
        }

        & .article-author-bottom img{
            height: 23px;
        }
    }
}

@media only screen and (max-width: 479px){
    .cover .atc-title{
        font-size: calc(1.5rem + 1.2vw);
    }

    .article-body {
        & .article-author img{
            height: 23px;
            width: 23px;
        }

        & .article-author-bottom img{
            height: 21px;
        }
    }
}