@import "./colors";
$bg-color: #181717da;

.body-card{
    background: $bg-color !important;
    min-height: 200px;
}

.body-img-back{
    background: $bg-color;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    & .background-img{
        position: absolute;
        opacity: 0.5;
        filter: blur(5px);
        -webkit-filter: blur(5px);
        z-index: 9;
        min-height: 100%;
    }

    & a {
        z-index: 99;
    }

    & .body-img{
        height: 160px;
        width: 280px;
    }
}

.body-card-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    & .body-title a{
        text-decoration: none !important;
        color: $text-color;
        font-size: calc(0.7em + 0.5vw);

        &:hover{
            transition: 0.5s;
            color: $light-blue;
        }
    }

    & .body-text{
        font-size: calc(0.7em + 0.5vw);
    }
}

.body-author{
    padding: 5px 8px;

    background: rgb(161, 39, 39);
    font-size: 1.2rem;
}

.body-date{
    @extend .body-author;
    margin-left: 5px;
    background: rgb(29, 129, 168);
}

 .social a img{
    height: 30px;
}

//----------------- Edit mode ---------------------

.card-body-edit {
    & .span-container{
        overflow: hidden;
    }

    & span{
        position: relative;
        right: 100%;
        font-size: 1.1rem;
        transition: all 0.5s;
    }

    & .remove-div{
        display: flex !important;

        & span{
            order: 1 !important;
            right: -100%;
        }

        & img{
            order: 2 !important;
        }
    }

    & img:hover{
        transform: scale(1.1);
        cursor: pointer;
    }

    & img:hover + .span-container span, & a:hover + .span-container span {
        right: 0;
    }
}
