.body-head-back{
    width: 100%;
    background: rgba(0, 0, 0, 0.63);
    margin-bottom: 10px;
    justify-content: center;
    display: flex;
}

.body-head{
    width: 80vw;
    height: 36vw;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

// Defining the height of the elements

// Los 4 del centro y valores generales
#body-head-grid{
    height: calc(50% - 20px);
    margin: 10px 10px 10px 0;

    & .img-back{
        position: relative;
        }

    & .title{
        position: absolute;
        transform: translateY(-100%);

        padding-bottom: 5px;
        width: 100%;

        text-align: center;
        overflow: hidden;
        word-wrap: break-word;
        color: $text-color;
        text-decoration: none;
        font-size: 1.8rem;
        font-weight: bold;
        background: rgba(0, 0, 0, 0.5);
        transition: 0.5s;

        &:hover{
            color: $light-blue;
        }
    }
}

.img-back img{
    height: 100%;
}

// El anuncio a la derecha
.advertising{
    & .img-back img{
        height: 200%;
    }
}

// Elemento oculto para acomododar la fila de abajo
.white-space{
    @extend .advertising;
    visibility: hidden;
}