@mixin header-element {
  width: calc(100% / 3);
  display: flex;
}

.navbar{
  background:rgb(30, 30, 30);
  z-index: 9999;

  position: sticky;
  top: 0;
}

.logo{
  @include header-element;
  justify-content: center;

  color: rgb(255, 0, 0);
  text-decoration: none;
  font-size: 3.5rem;
  letter-spacing: 2px;
  text-shadow: 4px 2px 2px $dark-red;
  font-family: 'Fjalla One', sans-serif;

  &:hover{
    text-decoration: none;
    color: $red;
  }
  }

.navbar hr{
  height: 3px;
  width: 100%;
  background: rgb(128, 128, 128);
  margin-bottom: 0;
}

.user-profile{
  @include header-element;
  justify-content: flex-end;
  padding-right: 3%;

  & img{
    height: 55px;
  }
}

.user-profile .user-text{
  & a{
    text-decoration: none;
    padding-left: 6px;
  }

  & .user-name{
    color: $text-color;
    font-size: 1.4rem;
    font-weight: 600;
  }

  & .sign a{
    color: $red;
    font-size: 1.2rem;
    opacity: 0.6;

    &:hover{
      opacity: 1;
    }
  }
}

.selector {
  @include header-element;

  & .dropdown-toggle{
    padding: 0 10px;
  }

  & .dropdown-divider{
    border-color: rgb(172, 172, 172);
  }

  & .dropdown-menu{
    background: rgb(36, 36, 36);

    & a{
      color: $text-color;
      font-size: 1.6rem ;
      font-weight: 600;

      &:hover{
        background: rgb(36, 36, 36);
        transition: all 0.3s;
        color: $light-blue;
      }
    }

    & .actual{
      transition: all 0.3s;
      color: $light-blue;

      &:hover{
        color: $text-color;
      }
    }
  }
}