.higlight-back{
    background: rgba(0, 0, 0, 0.63);
    margin-bottom: 10px;
    justify-content: center;
    display: flex;

    & .higlight{
        width: 80vw;
        height: 36vw;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;

        & #body-head-grid{
            height: calc(50% - 20px);
            margin: 10px 10px 10px 0px;

            & .img-back{
                position: relative;
                }

            & .title{
                position: absolute;
                transform: translateY(-100%);

                padding-bottom: 5px;
                width: 100%;

                text-align: center;
                overflow: hidden;
                word-wrap: break-word;
                color: $text-color;
                text-decoration: none;
                font-size: calc(0.80rem + 0.8vw);
                line-height: 140%;
                font-weight: bold;
                background: rgba(0, 0, 0, 0.5);
                transition: 0.5s;

                &:hover{
                    color: $light-blue;
                }
            }
        }

        & .img-back img{
            height: 100%;
        }

        & .advertising{
            margin-right: 0 !important;

            & .img-back img{
                height: calc(200% + 20px);
            }
        }

        & .white-space{
            @extend .advertising;
            visibility: hidden;
        }
    }
}

//----------------------------Update Higlight--------------------------

#update-higlight-form {
    & .higlight-form-img{
        position: relative;
        width: fit-content;
        margin-bottom: 5px;

        & .preview-higlight-img{
            max-height: 300px;
            opacity: 0.5;
        }

        & .choose-higlight-img{
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
        }

        & .higlight-img-btn{
            font-size: $medium-1 !important;
        }
    }

    & .higlight-form-link{
        font-size: $medium-1;

        & span{
            font-size: $small-3;
            color: $light-blue;
        }
    }

    & .invalid-feedback{
        font-size: $small-1;
    }

    & .back-higlight-form{
        position: absolute;

        & #higlight-form-back-btn {
            color: darken($color: $red, $amount: 6);
            font-size: $huge-1;
            position: relative;
            top: 0;
            left: 0;
            cursor: pointer;

            &:hover + .back-btn-text span{
                transform: translateX(0);
            }
        }

        & .back-btn-text{
            overflow: hidden;

            & span{
                display: inline-block;
                transform: translateX(-100%);
                transition: all 0.6s;

                font-size: $small-3;
                color: darken($color: $red, $amount: 6);
            }
        }
    }
}

#select-news-back-btn{
    color: darken($color: $red, $amount: 6);
    font-size: $huge-1;
    position: absolute;;
    left: 20px;
    cursor: pointer;
}

//--------------------------Media-Queries----------------------------------

@media only screen and (max-width: 479px){
    .higlight-back .higlight{
        width: 100vw;
        height: 48vw;

        & #body-head-grid{
            margin: 3px 2px 3px 0;
            height: calc(50% - 6px) !important
        }

        & #body-head-grid .title{
            font-size: calc(0.643rem + 0.7vw) !important;
            padding-bottom: 1px;
            line-height: 130% !important;
        }

        & .advertising .img-back img{
            height: calc(200% + 6px) !important;
        }
    }
}

@media only screen and (max-width: 575px) and (min-width: 480px){
    .higlight-back .higlight{
        width: 100vw;
        height: 49vw;

        & #body-head-grid{
            margin: 5px 3px 5px 0;
            height: calc(50% - 10px) !important
        }

        & #body-head-grid .title{
            font-size: calc(0.8rem + 0.7vw) !important;
            padding-bottom: 1px;
            line-height: 130% !important;
        }

        & .advertising .img-back img{
            height: calc(200% + 10px) !important;
        }
    }
}

@media only screen and(min-width: 576px) and (max-width: 767px){
    .higlight-back .higlight{
        width: 100vw;
        height: 47vw;

        & #body-head-grid{
            margin: 5px 5px 5px 0;
            height: calc(50% - 10px) !important
        }

        & #body-head-grid .title{
            font-size: calc(0.875rem + 0.7vw) !important;
            padding-bottom: 2px;
            line-height: 130% !important;
        }

        & .advertising .img-back img{
            height: calc(200% + 10px) !important;
        }
    }
}

@media only screen and(min-width: 768px) and(max-width: 991px){
    .higlight-back .higlight #body-head-grid .title{
        font-size: calc(0.889rem + 0.6vw) !important;
    }
}

@media only screen and(min-width: 768px) and(max-width: 1199px){
    .higlight-back .higlight{
        width: 88vw;
        height: 43vw;

        & #body-head-grid{
            margin: 8px 5px 8px 0;
            height: calc(50% - 16px)
        }

        & #body-head-grid .title{
            font-size: calc(0.95rem + 0.7vw) ;
            padding-bottom: 3px;
            line-height: 135% ;
        }

        & .advertising .img-back img{
            height: calc(200% + 16px);
        }
    }
}