.most-viewed{
    border: 1.5px solid $light-blue-2 !important;
}

.most-viewed-header{
    background: #000000c9 !important;

    & h3{
        color: $light-blue-2;
        font-size: 1.8rem;
    }
}

.most-viewed-body{
    background: #00000086 !important;
}

.most-viewed-card{
    background: rgb(0, 0, 0) !important;

    & img{
        filter: opacity(0.5);
        transition: all 0.3s;
    }

    &:hover{
        cursor: pointer;

        & img {
            filter: opacity(0.2);
        }
    }
}

.most-viewed-title{
    font-size: 1.5rem;
    color: $text-color;
    text-decoration: none !important;
    transition: 0.5s;

    &:hover{
        color: $light-blue;
    }
}