@import "./colors";

.nav-container{
    width: 23% !important;

    background: #1b1b1bda;

    overflow-x: hidden;
    overflow: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

.trending{
    background: rgb(4, 189, 196);
}

.nav-card{
    background: rgba(0, 0, 139, 0) !important;
}

.nav-img{
    filter: opacity(0.5);
}

.nav-img-overlay{
    background: #18171777;
}

.nav-text:hover{
    transition: 0.5s;
    background: rgba(19, 18, 18, 0.555);
    cursor: pointer;
}

.nav-text .card-text{
    text-decoration: none;
    color: $text-color;
    font-size: 1.4rem;

    &:hover{
        transition: 0.5s;
        color: $light-blue;
    }
}


#nav-pos{
    position: absolute;
    height: 100vh;
    visibility: hidden;
}