.body-card{
    background: #181717da !important;
    min-height: 200px;
}

.body-img-back{
    background: #181717da;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.background-img{
    position: absolute;
    opacity: 0.5;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    z-index: 9;
}

.body-img{
    height: 150px;
    z-index: 99;
    width: 265px;
}

.body-img:hover{
    cursor: pointer;
}

.body-card-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.body-title a{
    text-decoration: none !important;
    color: rgb(240, 240, 240);
    font-size: calc(0.7em + 0.5vw);
}

.body-title a:hover{
    transition: 0.5s;
    color: #26cce2;
}

.body-text{
    font-size: calc(0.7em + 0.5vw);
}

.body-author, .body-date{
    padding: 5px 8px;

    background: rgb(161, 39, 39);
    font-size: 1.2rem;
}

.body-date{
    margin-left: 5px;
    background: rgb(29, 129, 168);
}

 .social a img{
    height: 30px;
}

.card-body-edit .span-container{
    overflow: hidden;
}

.card-body-edit span{
    position: relative;
    right: 100%;
    font-size: 1.1rem;
    transition: all 0.5s;
}

.card-body-edit .remove-div{
    display: flex !important;
}

.card-body-edit .remove-div span{
    order: 1 !important;
    right: -100%;
}

.card-body-edit .remove-div img{
    order: 2 !important;
}

.card-body-edit img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.card-body-edit img:hover + .span-container span, .card-body-edit a:hover + .span-container span {
    right: 0;
}