.App {
  overflow-x: hidden;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  width:100%;
  background: -webkit-linear-gradient(to bottom, #414345, #232526); 
  background: linear-gradient(to bottom, #414345, #232526); 
}

.App .body-head{
  width: 100vw;
  height: calc(75vh + 40px);
  background: rgba(0, 0, 0, 0.8);

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* Definiendo el tamaño y ubicacion de los elementos del body-head */

/* El pequeño arriba a la izquierda */
.App .body-head-1-small {
  margin-left: 3%;
}

.App .body-head-1-small .img-back img{
  height: 37.5vh;
}

/* El largo del centro */
.App .body-head-2-large .img-back img{
  height: 37.5vh;
  }

/* El anuncio a la derecha */
.App .body-head-3-advertising{
  margin-right: 3%;
}

.App .body-head-3-advertising .img-back img{
  height: 75vh;
}

/* El de abajo a la izquierda */
.App .body-head-4{
position: relative;
bottom: 37.5vh;
margin-left: 3%;
}

.App .body-head-4 .img-back img{
  height: 37.5vh;
}

/* El de abajo al centro */
.App .body-head-5{
position: relative;
bottom: 37.5vh;
}

.App .body-head-5 .img-back img{
  height: 37.5vh;
}

/* Elemento oculto para acomododar la fila de abajo */
.App .body-head-6-white-space{
  margin-right: 3%;
  visibility: hidden;
}

.App .body-head-6-white-space .img-back img{
  height: 75vh;
}

/* Definiendo tamaño y posicion del Nav */
.App .app-nav{
  position: relative;
  float: right;
  display: flex;
  flex-direction: column; 

  height: calc(100vh - 37px);
  right:10px;
  margin-top: 10px;
  padding: 35px 0 0 10px;
  border: 1px solid red;
  background: #1f1f1fe8;

  overflow: scroll;
  overflow-x: hidden;
}

/* Ocultando la barra de navegacion del Nav */
.App .app-nav::-webkit-scrollbar {
  display: none;
}

/* Posicionando el titulo del Nav */
.App .app-nav .trending{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: calc(100vh - 36px); 
  padding: 2px 100vw 3px 100vw;

  color: rgb(246, 240, 240);
  background: #26cce2;
  font-size: 24px;
  font-weight: 700;
}

/* Posicionando el div que utilizo como limite para el Nav */
.App #foot-limit{
  position: relative;;
  bottom: calc(100vh + 450px);
}