.register-back{
    align-items: center;

    & .register{
        font-size: $medium-1;
        background: #232526;

        & input{
            color: $text-color;
            font-size: $medium-1 !important;
            background: #353535f5 !important;
            border: solid 1.7px rgb(88, 88, 88) !important;

            &:hover, &:focus, &:active{
                border: solid 1.7px rgb(105, 105, 105) !important;
                color: $text-color;
            }
        }

        & input:-webkit-autofill {
            -webkit-text-fill-color: $text-color !important;
            box-shadow: 0 0 0px 1000px #353535f5 inset !important;
            -webkit-box-shadow: 0 0 0px 1000px #353535f5 inset !important;
        }

        & #confirmPassword-alert{
            font-size: $small-2;
        }

        .alert{
            background: rgb(75, 32, 32);
            color: rgb(255, 31, 31);
            border: 1px solid rgb(104, 42, 42);

            & small{
                color: rgb(255, 31, 31) !important;
            }
        }
    }

    & #register-go-back-btn{
        position: absolute;
        font-size: $huge-1;
        color: rgb(238, 20, 20);
    }
}

@media only screen and(max-width: 479px){
    .signup-col{
        flex: 0 0 90%;
        max-width: 90% !important;
    }
}