.comment-profile-back{
    position: relative;
    height: 60px;

    background: #404040;
    overflow: hidden;
    border: 2px solid rgb(128, 128, 128);
    border-top-left-radius: 30px;

    & .comment-user-pic{
        float: left;;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        border-bottom-left-radius: 0;
    }

    & .comment-username{
        height: 60px;
        display: flex;
        align-items: center;
        margin-left: 70px;

        font-size: 1.3rem;
    }
}

.date-and-menu{
    position: relative;
    float: right !important;
    bottom: 60px;
    height: 60px;
    display: flex;
    align-items: center;

    margin-right: 20px;
    font-size: 1.1rem;

    & .comment-menu{
        transition: all 0.5s;
        margin-bottom: 60px;

        & .row{
            height: 60px;
            margin: 0;
        }

        & .menu-row{
            padding-top: 5px;
            display: flex;
            flex-direction: column;
            text-align: center;

            & .report , & .view-profile{
                cursor: pointer;
                color: rgb(0, 141, 177);

                &:hover{
                    text-decoration: underline;
                }
            }
        }

        & .date-row{
            float: right;
            width: fit-content;

            & .comment-date{
                color: rgb(255, 255, 255);
                display: flex;
                align-items: center;
            }
        }
    }

    & .comment-menu-btn{
        margin-left: 5px;
        height: 30px;
        cursor: pointer;

        &:hover{
            transform: scale(1.1);
        }
    }
}
