@import "./comment-user";
@import "../colors";

.comments-back{
    width: 70% !important;
    margin: 0 0 10px 3%;
    background: #1b1b1bb6;
    border-radius: 2%;
    overflow: hidden;

    & .coments-counter{
        font-size: 1.6rem;
        font-weight: bold;
        padding: 6px 0;
        text-align: center;
        color: $light-blue-2;
        background: #000000de;
    }

    & .comments{
        width: 85%;
        margin: auto;
        padding-bottom: 5px;
        color: rgb(255, 255, 255);

        & .comment-text{
            font-size: 1.4rem;
        }
    }
}

.comments .make-comment{
    background: #2b2b2b;
    border-top-left-radius: 30px !important;
    border: 2px solid rgb(82, 82, 82);
    margin-bottom: 60px;

    & .make-comment-user{
        height: 60px;
        width: 60px;
        border-radius: 50%;
        border-bottom-left-radius: 0;
    }

    & textarea, & textarea:focus, & textarea:hover, & textarea:active{
        min-height: 80px;

        overflow: hidden;
        background:#2b2b2b;
        border: 0;
        color: rgb(255, 255, 255);
        font-size: 1.4rem;
    }

    & textarea::placeholder{
        color: rgb(187, 187, 187);
    }

    & button {
        font-size: 1.1rem;
    }
}

.like-dislike{
    margin-left: 35px;
    font-size: 1.8rem;

    & .fa-thumbs-up{
        cursor: pointer;
        color: #19c4e2;

        &:hover{
            transform: scale(1.2);
            color: #02d8fd;
        }
    }

    & .fa-thumbs-down{
        cursor: pointer;
        color: rgb(212, 22, 22);

        &:hover{
            transform: scale(1.2);
            color: rgb(255, 0, 0);
        }
    }

    & span{
        margin: 0 5px;
    }
}