
.back{
  padding: 30px;
}

.header{
    margin: 25px;
  }

  .header .img-head a img{
    position: absolute;
    left: 40px;
    top: 10px;
   height: 55px; 
   float: left;
  }
  
  .header .head{
    margin-top: 25px;
    position: absolute;
    right: 15px;
    top: 0;
  }
  
  .header .head a{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    background:  #0bc9cf;
    font-size: large;
    font-weight: 700;
    border-left:2px solid rgb(59, 59, 59);
  }
  
  .header .head a:hover{
    background: #d11414;
  }
  
  .header .head .active{
    background: #d11414;
  }
  
  .header nav hr{
    position: absolute;
    top: 73px;
    left:0;
    height: 3px;
    width: 100vw;
    background: gray;
  }
  
  .search{
    position: absolute;
    left : 130px;
    top: 23px;
    display: flex;
    justify-content: center;
  }
  
  .search form input{
    width: 700px;
    height: 22px;
    border-radius: 12px;
    text-align: justify;
    outline: none;
  }
  
  .search .fa-search{
    position: relative;
    top: 3px;
    size: 9px;
  }
  