.user img{
    height: 55px;
}

.user .text a{
    text-decoration: none;
    position: relative;
    left: 135px;
    bottom: 58px;
}

.user .text .tr-1 td{
    position: relative;
    right: 20px;
}

.user .text .user-name{
    color: white;
    font-size: 17.5px;
    font-weight: 600;
}

.user .text .tr-2 a{ 
    color: red;
    font-size: 15.5px;
    opacity: 0.6;
    padding-left: 6px;
}

.user .text .tr-2 a:hover{
    opacity: 1;
}
