.body-card-form{
    background: #232526 !important;

    & .article-type{
        font-size: $small-2 !important;
    }

    & .preview-body-img{
        height: 115px !important;
    }

    & .choose-body-img{
        position: absolute;
        left: 0;
        top: 0;
        height: 115px !important;
        width: 100%;

        & .card-form-img-btn{
            font-size: $small-2 !important;
        }
    }

    & .body-form-title{
        min-height: 70px !important;
        max-height: 110px;
        margin-bottom: 10px;
        resize: none;
        overflow: hidden;

        color: $text-color;
        font-size: $medium-1 !important;
        word-wrap: break-word !important;
        background: #353535f5 !important;
        border: solid 1.7px rgb(88, 88, 88) !important;
    }

    & .body-form-text{
        min-height: calc(5em + 2vw) !important;
        max-height: calc(9em + 2vw) !important;
        margin-bottom: 10px;
        resize: none;
        overflow: hidden;

        font-size: $medium-1 !important;
        background: #353535f5 !important;
        border: solid 1.7px rgb(88, 88, 88) !important;
    }
}