.editor .ck-content{
    padding: 0 10px !important;
    background: rgb(43, 43, 43) !important;

    & .text-tiny{
        font-size: $small-1;
    }

    & .text-small{
        font-size: $small-3 + 0.1rem;
    }

    font-size: $medium-2 !important;

    & .text-big {
        font-size: $big-2;
    }

    & .text-huge{
        font-size: $huge-1;
    }

    & figure figcaption {
        font-size: $small-3 + 0.1rem !important;
        background: rgba(0, 0, 0, 0) !important;
        color: $text-color !important;
        padding: 0 5px !important;

        &:before {
            color: rgb(189, 189, 189) !important;
        }
    }

    & .table table{
        color: $text-color;
    }
}