.footer{
    height: 450px;
    background: rgba(0, 0, 0, 0.5);
    position: relative;
}

.footer .about-us{
    padding-top: 40px;
    color: white;
    font-size: 61px;
    font-family: 'Fjalla One', sans-serif;
}

.footer .about-us strong{
    color: red;
    font-size: 70px;
    letter-spacing: 3px;
    text-shadow: 5px 3px 2px rgb(117, 3, 3);
}

.fa-angle-double-up{
    position: absolute;
    right: 65px;
    top: 60px;
    transform: scale(3, 2.5);
    color:  red;
  }

 .fa-angle-double-up:hover{
    color: #26cce2;
    cursor: pointer;
  }