.body-head{
    width: 100vw;
    height: calc(75vh + 40px);
    background: rgba(0, 0, 0, 0.8);
    margin-bottom: 10px;
  
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  /* Definiendo el tamaño y ubicacion de los elementos del body-head */
  
  /* El pequeño arriba a la izquierda */
.body-head-1-small {
    margin-left: 3%;
  }
  
.body-head-1-small .img-back img{
    height: 37.5vh;
  }
  
  /* El largo del centro */
.body-head-2-large .img-back img{
    height: 37.5vh;
    }
  
  /* El anuncio a la derecha */
.body-head-3-advertising{
    margin-right: 3%;
  }
  
.body-head-3-advertising .img-back img{
    height: 75vh;
  }
  
  /* El de abajo a la izquierda */
.body-head-4{
  position: relative;
  bottom: 37.5vh;
  margin-left: 3%;
  }
  
.body-head-4 .img-back img{
    height: 37.5vh;
  }
  
  /* El de abajo al centro */
.body-head-5{
  position: relative;
  bottom: 37.5vh;
  }
  
.body-head-5 .img-back img{
    height: 37.5vh;
  }
  
  /* Elemento oculto para acomododar la fila de abajo */
.body-head-6-white-space{
    margin-right: 3%;
    visibility: hidden;
  }
  
.body-head-6-white-space .img-back img{
    height: 75vh;
  }