.Nav{
    margin-bottom:10px;
    display: flex;
    float: right;
    width: 21%;
}

.Nav .image .nav-img{
float: left;
height: 90px;
}

.Nav  .text{
    width: calc(21vw - 150px);
    height: 90px;
    display: table;
    background: #181717e8;
}


.Nav .text  a{
    padding: 0 5px ;
    text-decoration: none;
    color: white;
    word-wrap: break-word;
    font-size: 15px;
    font-weight: 700;
    overflow:hidden;

    /* Table cell para alinear el texto */
    display: table-cell;
    vertical-align: middle;
}

.Nav .text a:hover{
    transition: 0.5s;
    color: #26cce2;
}