$small-1: 1.1rem;
$small-2: 1.2rem;
$small-3: 1.3rem;

$medium-1: 1.5rem;
$medium-2: 1.7rem;
$medium-3: 1.8rem;

$big-1: 2rem;
$big-2: 2.2rem;
$big-3: 2.4rem;

$huge-1: 2.6rem;
$huge-2: 2.8rem;
$huge-3: 3rem;

$logo-1: 3.5rem;
$logo-2: 5.5rem;