.comments-back{
    width: 70%;
    margin: 0 0 10px 3%;
    background: #1b1b1bb6;
    border-radius: 2%;
    overflow: hidden;
}

.coments-counter{
font-size: 1.6rem;
font-weight: bold;
padding: 6px 0;
text-align: center;
color: #00FFFF;
background: #000000de;
}

.comments{
    width: 85%;
    margin: auto;
    padding-bottom: 5px;
    color: white;
}

.comment-text{
    font-size: 1.4rem;
}