html {
  font-size: 10pt;
  margin: 0;
}

body {
  margin:0;
  background: #252627;  /* fallback for old browsers */
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Posicionando el div que utilizo como limite para el Nav */
#foot-limit{
  position: relative;
  bottom: calc(100vh + 450px);
}